<style type="text/css">
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

  .template-404 {
    font-family: 'Poppins', sans-serif;
  }

  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }

  .template-404 .button {
    background-color: #d19c97;
    color: white;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
  }

  .template-404 .button:hover {
    color: black;
  }
</style>

<div class="template-404 page-width page-margin center">
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>