<style>
    .custom-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 300px; /* Minimum height */
    }
  
    .custom-heading {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.5rem; /* Adjust margin bottom as needed */
    }
  
    .custom-breadcrumb {
        display: inline-flex;
    }
  
    .custom-breadcrumb a {
        text-decoration: none; /* Remove default underline */
        color: inherit; /* Inherit text color */
        transition: color 0.3s, border-bottom-color 0.3s; /* Smooth transition for color and underline */
    }
  
    .custom-breadcrumb a:hover {
        color: #D19C97; /* Change color on hover */
        border-bottom: 1px solid #D19C97; /* Underline on hover */
    }
</style>


<div class="custom-container bg-secondary mb-5">
    <div class="custom-content">
      <h1 class="custom-heading">{{ page.title }}</h1>
      <div class="custom-breadcrumb">
        <p>{% render 'breadcrumb' %}</p>
      </div>
    </div>
  </div>
  
  <div id="wishlistContainer"> 
  <div id="display-item"></div>
  <button id= "removeButton" >Remove All</button>
</div>

<style>
  .wishlist_product {  
      display: flex;
      flex-direction:column;
      margin: 0 auto;
      padding: 20px;
  }
  .product {
      width: 200px;
      margin-bottom: 20px;
      margin-right:20px;
      box-sizing: border-box;
  }
  .product img {
      width: 100%;
      height: auto;
  }
  a{
    color:black;
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {  
  const wish = JSON.parse(localStorage.getItem('wishlist')) || [];
  const wishlistHtml = wish.map(item =>
      `<div class="wishlist_product">
          <div class="product">
              <img src="/${item.d.image}"/>
              <h3><a href = "${item.d.url}">${item.d.title}</a></h3>
              <h4>${item.d.price}</h4>  
      </div>
      <br>`
  ).join('');
  document.getElementById('display-item').innerHTML = wishlistHtml;
  
      const removeButton = document.getElementById('removeButton');
      
      removeButton.addEventListener('click', () => {
          const itemsToRemove = document.querySelectorAll('.wishlist_product');
      
          itemsToRemove.forEach(item => {
              item.remove();
          });
        localStorage.clear();
        alert("Empty wishlist")
      });
  // console.log(info);
});
</script>



