<div class="custom-container bg-secondary mb-5">
    <div class="custom-content">
      <h1 class="custom-heading">{{ page.title }}</h1>
      <div class="custom-breadcrumb">
        <p>{% render 'breadcrumb' %}</p>
      </div>
    </div>
  </div>